<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python" 
                  arguments="-m gunicorn --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --timeout=600 wsgi:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\python.log"
                  startupTimeLimit="600">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%home%\site\wwwroot"/>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%"/>
        <environmentVariable name="PYTHONUNBUFFERED" value="1"/>
        <environmentVariable name="PYTHONDONTWRITEBYTECODE" value="1"/>
        <environmentVariable name="SCM_DO_BUILD_DURING_DEPLOYMENT" value="true"/>
        <environmentVariable name="WEBSITE_HOSTNAME" value="rts-search-app.azurewebsites.net"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
