<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%home%\Python311\python.exe"
                  arguments="%home%\site\wwwroot\app_start.sh"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\python.log"
                  startupTimeLimit="600"
                  requestTimeout="00:10:00">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%home%\site\wwwroot"/>
        <environmentVariable name="PATH" value="%PATH%;%home%\Python311;%home%\Python311\Scripts"/>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%"/>
        <environmentVariable name="PYTHONUNBUFFERED" value="1"/>
        <environmentVariable name="WEBSITE_HOSTNAME" value="rts-search-app.azurewebsites.net"/>
        <environmentVariable name="PYTHON_VERSION" value="3.11.7"/>
        <environmentVariable name="PYTHON_RUNTIME" value="python-3.11"/>
        <environmentVariable name="SCM_DO_BUILD_DURING_DEPLOYMENT" value="true"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
